*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-position: center;
   
   
    background-image: url('/resources/Banner\ Image.png');
    background-image:linear-gradient(to left #09090a 100%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
   color:black;
   padding-top:40px ;
   padding-bottom:40px;
   }
   .container-box{
       text-align: center;
       margin: 233px 360px 177px 360px;
   
       padding: 10px;
       color: #FFF;
   
   
   }
   .container-box h5{  
   font-family: Merriweather;
   font-size: 26px;
   font-weight: 400;
   
       
   }
   .container-box h1{
      
       font-family: Merriweather;
       font-size: 50px;
       font-weight: 900;
       line-height: 50px;
      padding: 10px; 
   }
 
         /* styling main section */

.first-section{
    text-align: center;
   
 }
 .first-section .percentage{
     color: #F00;
     font-size: 88px;
     margin-top: 100px;
 
 
 } 
 .under-of-percentage{             
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
   } 
 
 
 .catagori{
     color: #070211;
     font-size: 48px;
     padding-bottom: 40px;
 }
 
           /* styling second(2nd)section */



         
.second-section{
    background-position: center;
   
    background-image: url('/resources/Vectorrr.png');
    display: flex;
   
    background-repeat: no-repeat;
    margin-top:200px ;
    width: 100%;
    padding-top: 50px;
     background-position: fixed;
   
 
 }
.header{
    color:#fff;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900; 
    letter-spacing: 7.04px;
 
   


}   

.description{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
line-height: 30px; 

}


      /* section three design */



      .three-number-of-heading{

    
        background-color:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
        text-align: center;
      margin:10px;
    
       
        
    }     
    
    .three-number-of-section{
        font-size: 32px;
        text-transform: capitalize;  
    
        padding: 100px 300px ;
      
    }
    
    
    .style-text{
        
    color: #F00;
    }
    
    .style-texts{
        background-color: #F00 ;
        border: 0 ;
        display: inline-flex;
        padding: 16px 32px;
        border-radius: 8px;
       gap: 10px;
       margin-top: 30px;
    }
     /* section four  */

.offer-container {
    text-align: center;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;


}
.main-div{
   margin-top: 100px;
}

.div-h5{
    color: #070211;
    font-size: 24px;
   
}
.div-h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.para{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    padding: 40px;
}
.middle-img{
    width: 90%;
 
}
.third-div{
    margin: 100px 50px;
}
.year-24{
    
    color: #F00;
font-size: 48px;


}
.paras{
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
line-height: 32px; 

}
.imagin{
    padding-top: 43px;
}
#middle-img-id{
    border: 10px solid  #F00;
    padding:40px ;
    border-radius: 50%;
}

       /* Holidays sales */
.Holiday{
    text-align: center;
    margin: 100px 200px;
}
.what{
    color: #070211;
    font-size: 24px;
}
.sale-h1{
    font-size: 72px;
    font-family: Merriweather;
   
}
.paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    padding: 25px 50px; 
}


.group-pic{
 

height: 350px;
margin: 68px 138px 68px 0;
background-attachment: fixed;

  
}
.second-section-around{
    
  
    margin: 126px 40px 142px 126px;
    background: cover;
}
.year{
    height:  100%;
}


   